:root {
  --dark : #212121;
  --grey : #6c757d;
  --light : #f8f9f8;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
}

header {
  text-align: center;
}

header h1 {
  font-family: 'Libre Baskerville', serif, Arial;
  font-weight: 700;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  padding: 4px 10px;
  color : var(--grey);
}

nav a:hover, nav .active {
  color: var(--dark);
}

nav a:hover header {
  color: var(--dark)
}

h2, h1, h3, h4, h5, h6 {
   font-family: 'Libre Baskerville', serif, Arial;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  
  margin-left: 20px;
  margin-bottom: 20px;
  width: 31% !important;
  box-shadow: 5px 5px 5px rgb(214, 213, 213);
}

.card-person {
  width: 16%;
  object-fit: cover;
  border-radius: 50%;
}

.card-body > .details > p {
  color: grey;
  text-transform: bold;
}

.card-body > .details {
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}

